body {
    background: #000;
}
a, #create {
    color: inherit;
    text-decoration: none;
}
a:hover, #create:hover {
    text-decoration: underline;
}
form {
    display: none;
}
#create {
    cursor: pointer;
}